@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
}

.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: #1B1B1B;
  --white-color: #FFFFFF;
  --pink-color: #DB00F9;
}

.def-btn {
  padding: 24px 20px;
  border-radius: 100px;
  border: 1px solid var(--pink-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.def-btn:hover {
  color: var(--pink-color);
}

.header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}
.header__logo-wrapper {
  width: 100%;
  max-width: 192px;
  height: 100%;
  max-height: 35px;
  overflow: hidden;
}
.header__logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  gap: 50px;
  display: flex;
  align-items: center;
}
.header__items {
  transition: all 0.3s;
}
.header__items:hover {
  transform: translateY(-2px);
}
.header__items:hover .header__links {
  color: var(--pink-color);
}
.header__links {
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  transition: all 0.3s;
}
.header__mobile-btn {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  z-index: 80;
}
.header__mobile-btn.active .header__mobile-arrow--first {
  top: 22px;
  left: 10px;
  transform: rotate(45deg);
}
.header__mobile-btn.active .header__mobile-arrow--second {
  transform: rotate(-45deg);
}
.header__mobile-arrow {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: var(--pink-color);
  transition: all 0.5s;
}
.header__mobile-arrow--first {
  top: 15px;
  left: 0;
  background-color: var(--white-color);
}
.header__mobile-arrow--second {
  left: 10px;
}
.header .header-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  transform: translateY(-120%);
  background-color: var(--bg-color);
  overflow-y: auto;
  transition: all 0.7s ease-in-out;
}
.header .header-mobile.active {
  transform: translateY(0);
}
.header .header-mobile__list {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header .header-mobile__items {
  width: 100%;
}
.header .header-mobile__links {
  width: 100%;
  padding: 10px 0;
  display: block;
  transition: all 0.1s;
}
.header .header-mobile__links:active {
  background-color: var(--pink-color);
}

.middle-block {
  display: inline-block;
  width: 55%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #000;
}

.hero {
  height: 100vh;
  padding-top: 92px;
}
.hero__container {
  height: 100%;
}
.hero__wrapper {
  position: relative;
  height: 100%;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero__element {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  right: 100px;
  background: url("../images/hero-element.png") no-repeat center/contain;
  filter: blur(5px);
  z-index: -1;
  animation: rotate 20s linear infinite, moveUpDown 5s ease-in-out infinite, scale 5s ease-in-out infinite;
}
.hero__element img {
  width: 100%;
  height: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    top: 20%;
  }
  50% {
    top: 10%;
  }
}
.hero__element--second {
  width: 200px;
  height: 200px;
  top: 500px;
  left: 0;
  animation: rotateSecond 20s linear infinite;
}
@keyframes rotateSecond {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.hero__text-wrapper {
  width: 100%;
}
.hero__title {
  text-align: center;
  font-size: calc(60px + 8.4210526316vw);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.hero__title span {
  color: var(--pink-color);
}
.hero__text {
  width: 100%;
  max-width: 545px;
  margin: 0 auto;
  font-size: calc(16px + 0.4210526316vw);
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 50px;
}
.hero__text span {
  font-weight: 700;
}
.hero__btn {
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
}
.hero__btn--application {
  display: none;
  margin-top: 20px;
  border: none;
  color: var(--white-color);
  background-color: var(--pink-color);
}
.hero__social {
  gap: 30px;
  display: flex;
  bottom: 40px;
  z-index: 90;
  padding-bottom: 40px;
}
.hero__social-links {
  opacity: 0.5;
  text-decoration-line: underline;
  transition: all 0.3s;
}
.hero__social-links:hover {
  opacity: 1;
}

.about {
  padding: 100px 0;
}

@media (max-width: 1500px) {
  .def-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .header__links {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .def-btn {
    font-size: 14px;
    padding: 8px 10px;
  }
  .header__logo-wrapper {
    max-width: 140px;
  }
  .header__list {
    gap: 20px;
  }
  .header__links {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .middle-block {
    opacity: 0.3;
  }
  .header {
    padding: 10px 0;
  }
  .header__list {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__mobile-btn {
    display: block;
  }
  .header .header-mobile {
    display: block;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__title {
    font-size: calc(60px + 272 * (100vw - 320px) / 1300);
    margin-bottom: 20px;
  }
  .hero__text {
    font-size: calc(16px + 13.6 * (10vw - 320px) / 1300);
  }
  .hero__btn {
    display: block;
  }
  .hero__element {
    width: 150px;
    height: 150px;
    right: 50px;
  }
  .hero__element--second {
    top: 500px;
    left: 0;
  }
}