@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  background: linear-gradient(to right, #1B1B1B 0%, #1B1B1B 33%, #000 30%, #000 70%, #1B1B1B 70%, #1B1B1B 100%);
}

.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: #1B1B1B;
  --white-color: #FFFFFF;
  --pink-color: #DB00F9;
}

.def-btn {
  padding: 24px 20px;
  border-radius: 100px;
  border: 1px solid var(--pink-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.def-btn:hover {
  color: var(--pink-color);
}

.header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  transition: all 0.3s;
}
.header.active {
  padding: 10px 0;
  background-color: var(--bg-color);
  box-shadow: 0 10px 10px #000;
}
.header__logo-wrapper {
  width: 100%;
  max-width: 192px;
  height: 100%;
  max-height: 35px;
  overflow: hidden;
}
.header__logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  gap: 50px;
  display: flex;
  align-items: center;
}
.header__items {
  transition: all 0.3s;
}
.header__items:hover {
  transform: translateY(-2px);
}
.header__items:hover .header__links {
  color: var(--pink-color);
}
.header__links {
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  transition: all 0.3s;
}
.header__mobile-btn {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  z-index: 80;
}
.header__mobile-btn.active .header__mobile-arrow--first {
  top: 22px;
  left: 10px;
  transform: rotate(45deg);
}
.header__mobile-btn.active .header__mobile-arrow--second {
  transform: rotate(-45deg);
}
.header__mobile-arrow {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: var(--pink-color);
  transition: all 0.5s;
}
.header__mobile-arrow--first {
  top: 15px;
  left: 0;
  background-color: var(--white-color);
}
.header__mobile-arrow--second {
  left: 10px;
}
.header .header-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  transform: translateY(-120%);
  background-color: var(--bg-color);
  overflow-y: auto;
  transition: all 0.7s ease-in-out;
}
.header .header-mobile.active {
  transform: translateY(0);
}
.header .header-mobile__list {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header .header-mobile__items {
  width: 100%;
}
.header .header-mobile__links {
  width: 100%;
  padding: 10px 0;
  display: block;
  transition: all 0.1s;
}
.header .header-mobile__links:active {
  background-color: var(--pink-color);
}

.hero {
  height: 100vh;
  padding-top: 92px;
}
.hero__container {
  height: 100%;
}
.hero__wrapper {
  position: relative;
  height: 100%;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero__element {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  right: 100px;
  filter: blur(5px);
  z-index: -1;
  animation: rotate 20s linear infinite, moveUpDown 5s ease-in-out infinite, scale 5s ease-in-out infinite;
}
.hero__element img {
  width: 100%;
  height: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    top: 20%;
  }
  50% {
    top: 10%;
  }
}
.hero__element--second {
  width: 200px;
  height: 200px;
  top: 500px;
  left: 0;
  animation: rotateSecond 20s linear infinite;
}
@keyframes rotateSecond {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.hero__text-wrapper {
  width: 100%;
}
.hero__title {
  text-align: center;
  font-size: calc(60px + 8.4210526316vw);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.hero__title span {
  color: var(--pink-color);
}
.hero__text {
  width: 100%;
  max-width: 545px;
  margin: 0 auto;
  font-size: calc(16px + 0.4210526316vw);
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 50px;
}
.hero__text span {
  font-weight: 700;
}
.hero__btn {
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
}
.hero__btn--application {
  display: none;
  margin-top: 20px;
  border: none;
  color: var(--white-color);
  background-color: var(--pink-color);
}
.hero__social {
  gap: 30px;
  display: flex;
  bottom: 40px;
  z-index: 90;
  padding-bottom: 40px;
}
.hero__social-links {
  opacity: 0.5;
  text-decoration-line: underline;
  transition: all 0.3s;
}
.hero__social-links:hover {
  opacity: 1;
}

.about {
  position: relative;
  padding: 100px 0;
}
.about__wrapper {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__title-wrapper {
  width: 100%;
  max-width: 600px;
}
.about__title {
  font-size: calc(30px + 2.2105263158vw);
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.about__title span {
  font-weight: 700;
}
.about__subtitle {
  font-size: calc(18px + 0.3015075377vw);
}
.about__list {
  width: 100%;
  max-width: 400px;
}
.about__items {
  text-align: right;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--pink-color);
}
.about__items:not(:last-child) {
  margin-bottom: 50px;
}
.about__list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
}
.about__element {
  position: absolute;
  left: -200px;
  bottom: 0;
  width: 700px;
  height: 700px;
  filter: blur(5px);
  z-index: -2;
  animation: rotate 20s linear infinite, scale 10s ease-in-out infinite;
}
.about__element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about__element-second {
  position: absolute;
  top: 0;
  right: 150px;
  width: 200px;
  height: 200px;
  filter: blur(5px);
  z-index: -2;
  animation: rotate 20s linear infinite, scale 5s ease-in-out infinite;
}
.about__element-second img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.advantages {
  position: relative;
  padding: 100px 0;
}
.advantages__title {
  font-size: calc(30px + 2.2105263158vw);
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.advantages__title span {
  font-weight: 700;
}
.advantages .tabs {
  max-width: 600px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.advantages .tabs__nav {
  display: flex;
  align-items: center;
}
.advantages .tabs__nav-btn {
  position: relative;
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
  color: #828282;
  transition: all 0.3s ease;
  border-bottom: 1px solid #353535;
}
.advantages .tabs__nav-btn.active {
  color: var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
}
.advantages .tabs__content {
  padding: 20px;
  height: 300px;
  overflow: auto;
}
.advantages .tabs__item {
  display: none;
  height: 100%;
}
.advantages .tabs__item.active {
  display: block;
}
.advantages__element {
  position: absolute;
  left: 400px;
  top: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  filter: blur(7px);
  z-index: -1;
  animation: advantagesRotate 10s linear infinite, scale 10s ease-in-out infinite;
}
.advantages__element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes advantagesRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.advantages__element-second {
  position: absolute;
  right: 0;
  top: 100px;
  width: 800px;
  height: 800px;
  overflow: hidden;
  filter: blur(7px);
  z-index: -1;
}
.advantages__element-second img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages .swiper {
  width: 100%;
  height: 100%;
}
.advantages .swiper-slide {
  font-size: 18px;
}
.advantages .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages .swiper-button-prev::after,
.advantages .swiper-button-next::after {
  position: absolute;
  color: #828282;
  font-size: 20px;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.advantages .swiper .swiper-button-prev {
  z-index: 10;
  top: 95%;
  left: 0;
  width: 50px;
  height: 50px;
}
.advantages .swiper .swiper-button-next {
  z-index: 10;
  top: 95%;
  left: 70px;
  width: 50px;
  height: 50px;
}
.advantages .swiper-pagination-current {
  color: var(--pink-color);
}
.advantages .swiper .swiper-pagination {
  text-align: right;
  z-index: 0;
}
.advantages .swiper__number {
  color: var(--pink-color);
  font-size: 48px;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.advantages .swiper__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contacts {
  padding: 100px 0;
  position: relative;
}
.contacts__element {
  position: absolute;
  top: 200px;
  left: 0;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  filter: blur(4px);
  z-index: -1;
}
.contacts__element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__title-wrapper {
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
  text-align: center;
}
.contacts__title {
  font-size: calc(30px + 2.2105263158vw);
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.contacts__title span {
  font-weight: 700;
}
.contacts__subtitle {
  font-size: calc(18px + 0.3015075377vw);
  margin-bottom: 50px;
}
.contacts__block {
  width: 100%;
  text-align: center;
}
.contacts__nav {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: 1px solid #353535;
}
.contacts__content-wrapper {
  width: 70%;
  margin: 0 auto;
}
.contacts__btn {
  position: relative;
  padding: 30px 20px;
  color: #353535;
  cursor: pointer;
  transition: all 0.3s;
}
.contacts__btn.active {
  color: var(--pink-color);
}
.contacts__btn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--pink-color);
}
.contacts__btn:hover {
  color: var(--pink-color);
}
.contacts__btn:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--pink-color);
}
.contacts .contacts-employer__wrapper {
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  margin-bottom: 50px;
}
.contacts .contacts-employer__inputs-wrapper {
  width: 100%;
}
.contacts .contacts-employer__input {
  width: 100%;
  padding: 24px 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #575454;
  color: var(--white-color);
  transition: box-shadow 0.3s;
}
.contacts .contacts-employer__input::-moz-placeholder {
  color: var(--white-color);
}
.contacts .contacts-employer__input::placeholder {
  color: var(--white-color);
}
.contacts .contacts-employer__input:hover {
  box-shadow: 0 5px 15px gray;
}
.contacts .contacts-employer__input:focus {
  border: 1px solid var(--pink-color);
  outline: 1px solid var(--pink-color);
}
.contacts .contacts-employer__btn {
  color: #000;
  font-size: 24px;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 20px 70px;
  border-radius: 100px;
  background: var(--pink-color);
  transition: all 0.5s;
}
.contacts .contacts-employer__btn:hover {
  color: var(--white-color);
  background-color: transparent;
}
.contacts .contacts-employer__error {
  display: none;
  text-align: left;
  color: red;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
.contacts .contacts-employer__error.error {
  display: block;
}

.process {
  padding: 100px 0;
  position: relative;
}
.process__title {
  font-size: calc(30px + 2.2105263158vw);
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.process__title span {
  font-weight: 700;
}
.process__title-wrapper {
  max-width: 920px;
  text-align: right;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .def-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .header__links {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .def-btn {
    font-size: 14px;
    padding: 8px 10px;
  }
  .header__logo-wrapper {
    max-width: 140px;
  }
  .header__list {
    gap: 20px;
  }
  .header__links {
    font-size: 14px;
  }
  .advantages__element {
    left: 45px;
  }
  .advantages__element-second {
    width: 500px;
    height: 500px;
    top: 400px;
    right: 20px;
  }
  .contacts__element {
    width: 700px;
    height: 700px;
  }
  .contacts__nav {
    width: 100%;
  }
  .contacts__content-wrapper {
    width: 100%;
  }
  .contacts .contacts-employer__wrapper {
    gap: 20px;
  }
  .contacts .contacts-employer__btn {
    font-size: 16px;
    padding: 15px 30px;
    color: var(--white-color);
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
  .header__list {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__mobile-btn {
    display: block;
  }
  .header .header-mobile {
    display: block;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__title {
    font-size: calc(60px + 272 * (100vw - 320px) / 1300);
    margin-bottom: 20px;
  }
  .hero__text {
    font-size: calc(16px + 13.6 * (10vw - 320px) / 1300);
  }
  .hero__btn {
    display: block;
  }
  .hero__element {
    width: 150px;
    height: 150px;
    right: 50px;
  }
  .hero__element--second {
    top: 500px;
    left: 0;
  }
  .about__title {
    font-size: calc(30px + 71.4 * (100vw - 320px) / 1300);
  }
  .about__subtitle {
    font-size: calc(18px + 10.2 * (10vw - 320px) / 1300);
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__title-wrapper {
    align-self: flex-start;
  }
  .about__title {
    margin-bottom: 10px;
  }
  .about__list {
    max-width: 80%;
  }
  .about__items {
    text-align: center;
  }
  .about__element {
    width: 350px;
    height: 350px;
    left: 0;
  }
  .about__element-second {
    right: 50px;
  }
  .advantages .tabs {
    max-width: 100%;
  }
  .advantages .tabs__nav {
    gap: 10px;
    flex-direction: column;
  }
  .advantages .tabs__nav-btn {
    width: 100%;
  }
  .advantages .tabs__content {
    padding: 15px;
  }
  .advantages__element {
    left: 200px;
    filter: blur(3px);
  }
  .advantages__element-second {
    width: 400px;
    height: 400px;
    top: 400px;
  }
  .swiper__text {
    font-size: 16px;
  }
  .contacts__element {
    top: 700px;
    width: 400px;
    height: 400px;
  }
  .contacts .contacts-employer__input {
    font-size: 16px;
    padding: 15px 20px;
  }
  .contacts .contacts-employer__input::-moz-placeholder {
    font-size: 16px;
  }
  .contacts .contacts-employer__input::placeholder {
    font-size: 16px;
  }
  .contacts .contacts-employer__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-bottom: 35px;
  }
}
@media (max-width: 500px) {
  .about__list {
    max-width: 100%;
  }
  .advantages__element {
    left: 45px;
  }
  .advantages__element-second {
    width: 300px;
    height: 300px;
    top: 600px;
    right: 20px;
  }
  .advantages .tabs__content {
    height: 360px;
  }
  .contacts .contacts-employer__input {
    font-size: 14px;
  }
  .contacts .contacts-employer__input::-moz-placeholder {
    font-size: 14px;
  }
  .contacts .contacts-employer__input::placeholder {
    font-size: 14px;
  }
  .contacts .contacts-employer__wrapper {
    margin-bottom: 20px;
  }
  .contacts .contacts-employer__btn {
    width: 100%;
    border-radius: 10px;
  }
}