@import "./reset.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
}

.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: #1B1B1B;
  --white-color: #FFFFFF;
  --pink-color: #DB00F9;
}

.def-btn {
  padding: 24px 20px;
  border-radius: 100px;
  border: 1px solid var(--pink-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
  transition: all .3s ease;

  &:hover {
    color: var(--pink-color);
  }
}


// HEADER
.header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;

  &__logo-wrapper {
    width: 100%;
    max-width: 192px;
    height: 100%;
    max-height: 35px;
    overflow: hidden;
  }

  &__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    gap: 50px;
    display: flex;
    align-items: center;
  }

  &__items {
    transition: all .3s;

    &:hover {
      .header__links {
        color: var(--pink-color);
      }

      transform: translateY(-2px);
    }
  }

  &__links {
    text-decoration: transparent;
    transition: all .3s;
  }

  &__mobile-btn {
    display: none;
    position: relative;
    width: 44px;
    height: 44px;
    z-index: 80;

    &.active {
      .header__mobile-arrow {
        &--first {
          top: 22px;
          left: 10px;
          transform: rotate(45deg);
        }

        &--second {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__mobile-arrow {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: var(--pink-color);
    transition: all .5s;

    &--first {
      top: 15px;
      left: 0;
      background-color: var(--white-color);
    }

    &--second {
      left: 10px;
    }
  }

  .header-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    transform: translateY(-120%);
    background-color: var(--bg-color);
    overflow-y: auto;
    transition: all .7s ease-in-out;

    &.active {
      transform: translateY(0);
    }

    &__list {
      width: 100%;
      height: 100%;
      gap: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__items {
      width: 100%;
    }

    &__links {
      width: 100%;
      padding: 10px 0;
      display: block;
      transition: all .1s;

      &:active {
        background-color: var(--pink-color);
      }
    }
  }
}

// HEADER -- ends

.middle-block {
  display: inline-block;
  width: 55%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #000;
}

// HERO
.hero {
  height: 100vh;
  padding-top: 92px;

  &__container {
    height: 100%;
  }

  &__wrapper {
    position: relative;
    height: 100%;
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__element {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 0;
    right: 100px;
    background: url("../images/hero-element.png") no-repeat center/contain;
    filter: blur(5px);
    z-index: -1;
    animation: rotate 20s linear infinite, moveUpDown 5s ease-in-out infinite, scale 5s ease-in-out infinite;

    & img {
      width: 100%;
      height: 100%;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes moveUpDown {

      0%,
      100% {
        top: 20%;
      }

      50% {
        top: 10%;
      }
    }

    &--second {
      width: 200px;
      height: 200px;
      top: 500px;
      left: 0;
      animation: rotateSecond 20s linear infinite;

      @keyframes rotateSecond {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }

  &__text-wrapper {
    width: 100%;
  }

  &__title {
    text-align: center;
    // font-size: clamp(10px, 1vw, 150px);
    font-size: calc(60px + 160 * (100vw / 1900));
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;

    & span {
      color: var(--pink-color);
    }
  }

  &__text {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    font-size: calc(16px + 8 * (100vw / 1900));
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 50px;

    & span {
      font-weight: 700;
    }
  }

  &__btn {
    width: 100%;
    max-width: 414px;
    margin: 0 auto;

    &--application {
      display: none;
      margin-top: 20px;
      border: none;
      color: var(--white-color);
      background-color: var(--pink-color);
    }
  }

  &__social {
    // position: absolute;
    gap: 30px;
    display: flex;
    bottom: 40px;
    z-index: 90;
    padding-bottom: 40px;
  }

  &__social-links {
    opacity: .5;
    text-decoration-line: underline;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }
}

// HERO -- ends

// ABOUT

.about {
  padding: 100px 0;
}

// ABOUT -- ends

@media (max-width: 1500px) {
  .def-btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .header {

    &__links {
      font-size: 16px;
    }
  }
}

@media (max-width: 991px) {

  .def-btn {
    font-size: 14px;
    padding: 8px 10px;
  }

  .header {

    &__logo-wrapper {
      max-width: 140px;
    }

    &__list {
      gap: 20px;
    }

    &__links {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .middle-block {
    opacity: .3;
  }

  .header {
    padding: 10px 0;

    &__list {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__mobile-btn {
      display: block;
    }

    .header-mobile {
      display: block;
    }
  }

  .hero {
    padding-top: 50px;

    &__title {
      font-size: calc(60px + (160 + 160 * 0.7) * ((100vw - 320px) / 1300));
      margin-bottom: 20px;
    }

    &__text {
      font-size: calc(16px + (8 + 8 * 0.7) * ((10vw - 320px) / 1300));
    }

    &__btn {
      display: block;
    }

    &__element {
      width: 150px;
      height: 150px;
      right: 50px;

      &--second {
        top: 500px;
        left: 0;
      }
    }
  }
}

@media (max-width:500px) {}